---
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-unix.*,
  -clang-analyzer-unix.cstring.CStringModeled,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-assert-side-effect,
  bugprone-suspicious-memset-usage,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-unnecessary-value-param
WarningsAsErrors: ""
HeaderFilterRegex: '^.*/src/(?!(xxhash|protobuf-c|pinba\.pb-c))'
FormatStyle: none
