#!/usr/bin/make -f

ifneq ($(wildcard debian/pinba-ppa-build.mk),)
include debian/pinba-ppa-build.mk
endif

MYSQL80_SOURCE_DIR  = $(CURDIR)/vendor/mysql-headers-8.0
MYSQL84_SOURCE_DIR  = $(CURDIR)/vendor/mysql-headers-8.4
ENABLE_MYSQL80     ?= 1
ENABLE_MYSQL84     ?= 1
MYSQL80_VERSION    ?= 8.0.46
MYSQL84_VERSION    ?= 8.4.9
NPROC              := $(shell nproc)
DH_EXCLUDE_PACKAGES :=

ifeq ($(ENABLE_MYSQL80),0)
DH_EXCLUDE_PACKAGES += -Npinba-engine-mysql-8.0
endif

ifeq ($(ENABLE_MYSQL84),0)
DH_EXCLUDE_PACKAGES += -Npinba-engine-mysql-8.4
endif

ifeq ($(ENABLE_MYSQL80)$(ENABLE_MYSQL84),00)
$(error At least one MySQL series must be enabled in debian/pinba-ppa-build.mk)
endif

%:
	dh $@ $(DH_EXCLUDE_PACKAGES)

override_dh_auto_configure:
ifeq ($(ENABLE_MYSQL80),1)
	cmake -B debian/build-mysql80 \
	  -DCMAKE_BUILD_TYPE=Release \
	  -DPINBA_MYSQL_SERIES=8.0 \
	  -DPINBA_MYSQL_SOURCE_DIR=$(MYSQL80_SOURCE_DIR) \
	  -DPINBA_MYSQL_SOURCE_VERSION=$(MYSQL80_VERSION) \
	  -DPINBA_WITH_TESTS=OFF \
	  -DPINBA_FETCH_DEPENDENCIES=OFF \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DCMAKE_INSTALL_LIBDIR=lib
endif
ifeq ($(ENABLE_MYSQL84),1)
	cmake -B debian/build-mysql84 \
	  -DCMAKE_BUILD_TYPE=Release \
	  -DPINBA_MYSQL_SERIES=8.4 \
	  -DPINBA_MYSQL_SOURCE_DIR=$(MYSQL84_SOURCE_DIR) \
	  -DPINBA_MYSQL_SOURCE_VERSION=$(MYSQL84_VERSION) \
	  -DPINBA_WITH_TESTS=OFF \
	  -DPINBA_FETCH_DEPENDENCIES=OFF \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DCMAKE_INSTALL_LIBDIR=lib
endif

override_dh_auto_build:
ifeq ($(ENABLE_MYSQL80),1)
	cmake --build debian/build-mysql80 --parallel $(NPROC)
endif
ifeq ($(ENABLE_MYSQL84),1)
	cmake --build debian/build-mysql84 --parallel $(NPROC)
endif

override_dh_auto_install:
ifeq ($(ENABLE_MYSQL80),1)
	DESTDIR=$(CURDIR)/debian/tmp-mysql80 cmake --install debian/build-mysql80
endif
ifeq ($(ENABLE_MYSQL84),1)
	DESTDIR=$(CURDIR)/debian/tmp-mysql84 cmake --install debian/build-mysql84
endif

override_dh_install:
ifeq ($(ENABLE_MYSQL80),1)
	dh_install --sourcedir=debian/tmp-mysql80 -ppinba-engine-mysql-8.0
endif
ifeq ($(ENABLE_MYSQL84),1)
	dh_install --sourcedir=debian/tmp-mysql84 -ppinba-engine-mysql-8.4
	dh_install --sourcedir=debian/tmp-mysql84 -ppinba-engine-common
else
	dh_install --sourcedir=debian/tmp-mysql80 -ppinba-engine-common
endif

override_dh_auto_test: ;
